
body {
  background-color:blanchedalmond;
}

header {
  text-align: center;
  background-color: wheat;
  font-size: 35px;
}

div {
  padding-bottom: 60px;
}

footer {
  padding-bottom: 40px;
  padding-top: 40px;
}